@import "tailwindcss";
#main
{
    background-color: #F64E8B;
}

#section:hover
{
    transform: scale(1.02);
}
#logo:hover
{
    transform: scale(1.1);
    cursor: pointer;
}

#hero-button:hover
{
    color: rgb(237, 131, 209);
    transform: scale(1.1);
}

#button
{
    cursor: pointer;
}
button:hover
{
    transform: scale(1.1);
}

#contact
{
    background: linear-gradient(90deg, #F64E8B, #F6C90E);
}