@import "tailwindcss";
#main
{
    background-color: #F64E8B;
}

#section:hover
{
    transform: scale(0.125);
}
#logo:hover
{
    transform: scale(1.1);
    cursor: pointer;
}

#hero-button:hover
{
    color: rgb(237, 131, 209);
    transform: scale(1.1);
}