@import "tailwindcss";
#main
{
    background-color: #F64E8B;
    overflow-x: hidden;
}

#section:hover
{
    transform: scale(1.02);
}
#logo:hover
{
    transform: scale(1.1);
    cursor: pointer;
}

#hero-button:hover
{
    color: rgb(237, 131, 209);
    transform: scale(1.1);
}

#button
{
    cursor: pointer;
}
button:hover
{
    transform: scale(1.1);
}

#contact
{
    background: linear-gradient(90deg, #F64E8B, #F6C90E);
}

#LPs:hover
{
    transform: scale(1.02);
}

#desc 
{
    opacity: 0;
    transition: opacity 1s ease;
}

 #LPs:hover #desc 
{
    opacity: 1;
}

#LPs img 
{
    transition: transform 0.5s ease; /* Added transition */
}

#LPs:hover img 
{
    transform: rotate(360deg);
}
